[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
loguru = "*"
pandas = "*"
psycopg2-binary = "*"
psycopg = {extras = ["binary"], version = "*"}
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.8.2"
